
/* css for the login page */

body{
    margin:0;
    padding:0px;
    font-family:system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;
    background:var(--bg);
    display:block;
    align-items:stretch;
    box-sizing:border-box;
    gap:24px;
    position: relative;
}

.header{
    background-color: #7e0101;
    text-align: center;
    padding: 10px;
    border-bottom: solid rgb(52, 1, 1);
    margin-bottom: 10px;

}


.login{
    top:130px;
    width: 300px;
    padding: 25px;
    border-radius: 10px ;
    margin: 50px auto;
    left: 0;
    right: 0;
    gap:60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

form{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.1rem;
 
}
.inputs{
    text-align: left;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    margin-bottom: 15px;
    padding:10px;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;

}

.loginButton{
    text-align: center;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
}

.loginButton:hover{
       background-color: rgb(160, 61, 43);

}

.loginPic{


    width: 250px;
    height: 250px;


    border-radius: 50%;

    border: 2px solid rgb(160, 61, 43);

}


/* THIS CSS IS FOR THE LOGIN AND OTHER PAGE NOT MAIN */


/* NEED TO DO THE COMPUTER */



@media screen and (min-width: 999px) {
    form{
        font-size: 1.3rem;
    }
    input{
        font-size: 1.2rem;
    }
    .loginPic{
        width: 200px;
        height: 200px;
        display: block;
        margin:20px auto 0;
    }
    .loginButton{
        font-size: 1.3rem;
    }
   
    
    body{
        background-color: lightyellow;
    }


}



/* NEED TO TABLET*/

@media screen and (min-width:400px) and (max-width:998px) {
    body{
        padding-top: 0px;
        margin:0;
    }

    .header{
        font-size: 25px;
        margin-bottom: 15px;
        margin:0 0 15px 0;
        text-align: center;
    }

    .login{
        position: relative;
        top:0;
        left:0;
        width: 80%;
        margin:20px;
        display: flex;


        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        padding: 0 20px;
    }

    .loginPic{
        width: 280px;
        height: 280px;
        display: block;
        margin:20px auto 0;
    }

    
    body{
        background-color: lightgreen;
    }
   


}

/* NEED TO DO PHONE BUT IT DOESNT WORK IDK WHY*/
@media screen and (max-width: 399px) {
    /* NEED TO DO BLOCK BY BLOCK */

    .header{
        display: block;
        width: 100%;
        text-align: center;
    }


    .login{
        position: relative;
        width: 90%;
        margin: 10px auto;
        padding:20px;
        border-radius: 10px;
    }


    .loginPic{
        position: relative;
        display: block;
        width: 150px;
        height: 150px;
        margin:20px auto 10px;
        border-radius: 50%;
    }


    label,input,.loginButton{
        display: block;
        width: 100%;
        margin: 10px 0;
    }


    form{
        display: block;
        width: 100%;
        margin-top: -60px;
    }


    .loginButton{
        text-align: center;
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;

    }


    body{
        background-color: lightblue;
    }
}